{% include '@Site/layouts/partials/scripts.http.twig' %}

<div class="header">
    <div class="container">
        <div class="logo"><a href="/"><img src="{{ asset('theme/images/logo_cr.jpg') }}" alt="Новый сайт"></a></div>
        <div class="menu"><a class="toggleMenu" href="#"><img src="{{ asset('theme/images/logo_cr.jpg') }}" alt=""/>
            </a>
            <ul class="nav" id="nav">
                <li class="current"><a href="{{ path('site_homepage') }}">Главная</a></li>
                <li><a href="{{ path('site_about') }}">О фирме</a></li>
                <li><a href="{{ path('site_services') }}">Услуги</a></li>
                <li><a href="{{ path('posts_index') }}">Отзывы</a></li>
                <li><a href="{{ path('site_contact') }}">Контакты</a></li>
                <div class="clear"></div>
            </ul>
            <script type="text/javascript" src="{{ asset('theme/js/responsive-nav.js') }}"></script>
        </div>
        <div class="clearfix"></div>
    </div>
</div>




