{% extends 'SiteBundle:layouts:master.http.twig' %}

{% block content %}
    <link href="{{ asset('theme/css/auth/styles.css') }}" rel='stylesheet' type='text/css'/>


    <h1>Posts creation</h1>

    <div class="panel-body">

        {{ form_start(form, {'attr': {'class': 'simplesite'}} ) }}
        {{ form_errors(form) }}

        {{ form_row(form.name) }}
        {{ form_row(form.email) }}
        {{ form_row(form.subject) }}

        <input type="submit" value="Добавить"/>
        {{ form_end(form) }}
    </div>

{% endblock %}


